h1{
    background-color: aqua;

}
.group1{
    background-color: antiquewhite;

}
.group2{

    background-color: blueviolet;
}
#sp{
background-color: rgb(175, 110, 31);

}
p{
background-color: brown;

}
a{
    background-color: blue;
}